<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shen.keep">

    <application
        android:name=".app.KeepApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".app.activity.MainActivity">

        </activity>

        <activity android:name=".app.activity.KeepActivity">

        </activity>

        <activity android:name=".app.activity.QuoteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.activity.ShowActivity">

        </activity>

    </application>

</manifest>